[type="submit"] {
    color: #000000;
    font-size: 16px;
    border: 1px solid #b4b3b3;
    border-radius: 8px;
    padding: 10px 25px;
    display: inline-block;
    background-color: #d7d7d7;
    font-weight: 600;
    cursor: pointer;
}
[type="submit"]:hover {
    background-color: #b7b7b7;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}
nav h2 {
    color: #f3f3f3;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}
nav {
    background-color: #2b3035;
    height: 12vh;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
}
.container {
    border: 1px rgb(184, 184, 184) solid;
    border-radius: 10px;
    height: 100%;
    padding: 35px;
}
.question-title, .file-label {
    font-size: 22px;
}